{% extends 'recepti/base.html' %}
{% load i18n %}
{% load tz %}

{% block title %}{% trans "Homepage" %}{% endblock %}
{% block content %}
	{# Translators: Page title #}
	<h1>{% trans "Recipes" %}</h1>
	{% get_current_language as LANG %}
	{% if LANG != 'en' %}
		{% language 'en' %}
			<h1>{% trans "Recipes" %}</h1>
		{% endlanguage %}
	{% endif %}
	{% trans "Current time" %}: {{ date }}

	{% timezone "Europe/Dublin" %}
			Dublin time: {{ date }}
	{% endtimezone %}

	{#	{% blocktrans count counter=latest|length %}There is only one object.{% plural %}There are {{ counter }} objects.{% endblocktrans %}#}
	{#	<p>{% blocktrans count counter=latest|length %}latest recipe{% plural %}{{ counter }} latest recipes{% endblocktrans %}:</p>#}
	{% for r in latest %}
		<article>
			<h2>{{ r.title }}</h2>
			<p>{% blocktrans with prep_time=r.preparation_time %}Preparation time: {{ prep_time }}{% endblocktrans %}</p>
			<p>{% trans "Ingredients" %}:</p>
			<ul>
				{% for ri in r.ingredient_list.all %}
					<li>{{ ri.ingredient }}: {{ ri.quantity }} {{ ri.unit.label }}</li>
				{% endfor %}
			</ul>
			<p>{{ r.content|truncatechars:10 }} <a href="{% url 'recipe-detail' r.id %}">{% trans "more" context "read more prompt" %} &raquo;</a></p>
		</article>
	{% endfor %}
	{% url 'recipe-create' as create_url %}
	{% blocktrans %}
		Add new recipe: <a href="{{ create_url }}">click here!</a>
	{% endblocktrans %}
{% endblock %}
